name: DALEC Build
on:
  workflow_dispatch:
    inputs:
      spec:
        required: true
        default: spec.yml
      target:
        required: true
        default: azlinux3/container
jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./action
        with:
          spec: ${{ inputs.spec }}
          target: ${{ inputs.target }}
          image: ghcr.io/${{ github.repository }}:latest
